
/*--------------------------
--------- 14. Form ---------
--------------------------*/

input {

	&.form-control {
		min-height: 40px;
		border-radius: 0;
		padding: 15px;
		border: 1px solid $default-light-gray;
		font-size: 15px;
		color: $default-dark;
		letter-spacing: 0.5px;
		box-shadow: none;
		
		@include placeholder {
			color: $default-deep-gray;
			font-size: 14px;
		}
	}	
	
	&.no-border {
		border: 0;
	}
	
	&.material-input {
		border: 0;
		border-bottom: 1px solid $default-light-gray;
		outline:0px !important;
		-webkit-appearance:none;
		box-shadow: none;
		
		&:focus {
			box-shadow: none;
			border-bottom: 2px solid $default-dark;
		}
	}
}

select {
	&.form-control {
		min-height: 40px;
		border-radius: 0;
		padding: 15px;
		border: 1px solid $default-light-gray;
		font-size: 15px;
		color: $default-deep-gray;
		letter-spacing: 0.5px;
		padding: 0px 12px;
		box-shadow: none;
		
	}	
}

textarea {
	&.form-control {
		min-height: 200px;
		border-radius: 0;
		padding: 15px;
		border: 1px solid $default-light-gray;
		font-size: 15px;
		color: $default-dark;
		letter-spacing: 0.5px;
		box-shadow: none;
		
		&.textarea-sm {
			min-height: 100px;
		}
		
		@include placeholder {
			color: $default-deep-gray;
		}
	}	
	
	&.material-input {
		border: 0;
		border-bottom: 1px solid $default-light-gray;
		outline:0px !important;
		-webkit-appearance:none;
		box-shadow: none;
		
		&:focus {
			box-shadow: none;
			border-bottom: 2px solid $default-dark;
		}
	}
}

.icon-input {
	position: relative;
	
	input.form-control {
		padding-left: 45px;
	}
	
	i {
		position: absolute;
		left: 15px;
		top: 10px;
		font-size: 20px;
		color: $default-gray;
	}
}

label {
	font-weight: bold;
	font-size: 13px;;
}

.inline-submit {
	position: absolute;
	@include positioning($top: 0px, $right: 15px);
	
	@include screen-mobile {
		right: 0px;
	}
}

.form-wrapper {
	margin-bottom: 15px;
}

.checkbox {
	position: relative;
	background: none;
	margin-bottom: 30px;
	
	&:before {
		display: table;
		content: " ";
	}
	
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
	
	lable {
		font-size: 15px;
	}
	
	input[type="checkbox"] {
		opacity: 0 !important;
		position: static;
		
		+ label {
			position: absolute;
			@include positioning($top: 0px, $left: 0px);
			padding-left: 30px;
			
			&:before {
				@include transition(box-shadow 0.4s ease-in-out);
				position: absolute;
				@include positioning($top: 0px, $left: 0px);
				content: '';
				width: 20px;
				height: 20px;
				background-color: $default-white;
				border: 2px solid $default-deep-gray;
				border-radius: 50%;
			}
			
			&:after {
				@include transition(transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75));
				@include transform(scale(0, 0));
				position: absolute;
				@include positioning($top: 0px, $left: 0px);
				width: 20px;
				height: 20px;	
				content: "\e18f";
				font-family: "exclusive-icon";
				text-align: center;
				color:  $default-white;
				font-size: 12px;
				line-height: 1.8;
				border-radius: 50%;
			}

		}
		
		&:checked+label:after {
			@include transform(scale(1, 1));
			background: $default-dark;
		}
	}
}

.radio {
	position: relative;
	background: none;
	margin-bottom: 30px;
	
	lable {
		font-size: 15px;
	}
	
	input[type="radio"] {
		opacity: 0 !important;
		position: static;
		
		+ label {
			position: absolute;
			@include positioning($top: 0px, $left: 0px);
			padding-left: 2em;
			
			&:before {
				@include transition(box-shadow 0.4s ease);
				position: absolute;
				@include positioning($top: 0px, $left: 0px);
				content: '';
				width: 20px;
				height: 20px;
				background-color: none;
				border: 2px solid $default-dark;
				border-radius: 50px;
				z-index: 5;
			}
			
			&:after {
				@include transition(transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75));
				@include transform(scale(0, 0));
				position: absolute;
				@include positioning($top: 1.5px, $left: 2px);
				content: '';
				width: 16px;
				height: 16px;
				background-color: $default-dark;
				box-shadow: 0 0 0px 2px $default-white inset;
				border-radius: 50px;
			}
		}
		
		&:checked {
			+ label {
			
				&:before {
					border: 2px solid $default-dark;
					box-shadow: 0 0 0px 2px $default-white inset;
				}
				
				&::after {
					@include transform(scale(1, 1));
				}
			}
		}
	}
}

button {
	&:focus {
		outline: 0;
	}
}


