/*---------------------------------------------------------------------------
  Template: Eastern - Creative Multipurpose Template
  Author: Theme_Nate
  Version: 1.0.3
----------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------
[Table Of Contents]

1. General
2. Section
3. Common Style
4. Headers
5. Side Headers
6. Loaders
7. Hero Blocks
8. Page Title
9. Content Block
10. Isotope
11. Shop
12. Footer
13. Button
14. Form
15. Images
16. Heading
17. Features Block
18. Swiper Slider
19. Testimonial
20. Team
21. Client
22. Pricing
23. Media
24. Tab
25. Table
26. Progress Bar
27. Accordion
28. Modal
29. Counter
30. Comment
31. Timeline
32. Map
33. Login
34. Widget
35. Portfolio
36. Blog General
37. Blog Default
38. Blog Grid
39. Blog Card
40. Blog List 
41. Blog Classic
42. Blog Single Post

----------------------------------------------------------------------------*/


@import 'mixins'; // Mixins
@import 'variables'; // Variables


// ========================================
// Base
// ========================================
@import 'base/general'; // general
@import 'base/section';	// section
@import 'base/common'; // common


//=========================================
// Modules
// ========================================
@import 'modules/headers'; // headers
@import 'modules/side-header'; // side header
@import 'modules/loaders'; // loaders
@import 'modules/hero-block'; // hero block
@import 'modules/page-tittle'; // page tittle
@import 'modules/content-block'; // content block
@import 'modules/isotope'; // isotope
@import 'modules/shop'; // shop
@import 'modules/footer'; // footer


//=========================================
// Element
// ========================================
@import 'element/button'; // button
@import 'element/form'; // form
@import 'element/images'; // images
@import 'element/heading'; // heading
@import 'element/features-block'; // features blocks
@import 'element/swiper-slider'; // swiper slider
@import 'element/testimonial'; // testimonial
@import 'element/team'; // team
@import 'element/client'; // client
@import 'element/pricing'; // pricing
@import 'element/media'; // media
@import 'element/tab'; // tab
@import 'element/table'; // table
@import 'element/progress-bar'; // progress-bar
@import 'element/accordion'; // accordion
@import 'element/modal'; // modal
@import 'element/counter'; // counter
@import 'element/user-comments'; // user comments
@import 'element/timeline'; // timeline
@import 'element/map'; // map
@import 'element/login'; // login
@import 'element/widget'; // widget


//=========================================
// Portfolio
// ========================================
@import 'portfolio/portfolio'; // portfolio


//=========================================
// Blog
// ========================================
@import 'blog/blog-general'; // blog general
@import 'blog/blog-default'; // blog default
@import 'blog/blog-grid'; // blog grid
@import 'blog/blog-card'; // blog card
@import 'blog/blog-list'; // blog list
@import 'blog/blog-classic'; // blog classic
@import 'blog/single-post'; // blog single post
